@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Producto
@* <form method="post"> *@

    <h3 class="text-danger">Nuevo Producto</h3>
    <h5 class="text-danger">Favor Registrar los Datos del Producto</h5>
    
    